h1 {
		color: LawnGreen;
		}

h2 {
		color:LawnGreen;
		}

h3 {
		color: LightSalmon;
		}

h4 {
		color: PaleVioletRed;
		}

body {
 	   	background-color: #f0f0f0;
	  	margin: 0;
		background-image:url("https://elements-cover-images-0.imgix.net/c36f15fa-782b-41f8-8505-e0636b3086d1?auto=compress%2Cformat&w=1370&fit=max&s=efb468c5372192f21235b161874150ee");
    	   	padding: 0;
	  	font-family: 'Arial', sans-serif;
		}

header {
    		background-color: #07bf51; 
    		color: white;
    		padding: 10px;
    		display: flex;
    		justify-content: space-between;
		}

nav ul {
    		list-style: none;
    		display: flex;
    		color: white;
		}

nav li {
    		margin-right: 20px;
		}

.Top {
		margin-left:10px;
		}

.contact-info {
   		 text-align: center;
    		display: flex;
    		align-items: center;   
		}

.contact-details {
    		display: flex;
    		margin-right: 20px;
		}

.contact-info p {
   		margin: 0;
   		color: white !important;
    		margin-right: 20px;
    		font-size: 20px;
		}

.contact-info a:hover {
    		color:#ddd !important;
		}

.contact-info a[href^="mailto:"]:hover {
    		color: #ddd !important; 
		}

.contact-info a[href*="facebook.com"]:hover {
    		color: #ddd; 
		}

.navbar {
   		background-color: Navy; 
    		display: flex;
    		justify-content: center;
    		color: white;
   		 padding: 10px;
		}

.navbar a {
    		float: left;
    		display: block;
   	 	color: white;
    		margin: 0 15px;
    		text-align: center;
    		padding: 14px 16px;
    		text-decoration: none;
		}

.navbar a:hover {
    		background-color: #ddd; 
    		color: black;   
		}

button {
    		background-color: #4CAF50; 
   		color: white;
    		padding: 10px 15px;
    		border: none;
    		border-radius: 5px;
    		cursor: pointer;
		}

button:hover {
   		background-color: #45a049; 
		}

img {
		width: 90%;
		}

p {
		width: 90%;
		color: DarkOrange;
		}
	
.News {
		border: solid 3px white;
		width: 250px;
		padding-left: 25px;
		float: left;
		margin-left: 5px;
		border-radius: 40px;
		}

.Design {
		border: solid 3px white;
		height: 500px;
		width: 901px;
		margin-left: 291px;
		padding-bottom: 103px;
		border-radius: 50px;
		}

.Clg 	{
		width: 300px;
		padding-left: 5px;
		height: 200px;
		float:left;
		border-radius: 50px;
		}

.Lib 	{
		width: 285px;
		height: 200px;
		padding-left: 5px;
		float:left;
		border-radius: 50px;
		}

.Hostel 	{
		width: 295px;
		padding-left: 5px;
		height: 200px;
		float:left;
		border-radius: 50px;
		}

.Gym	{
		width: 300px;
		padding-left: 5px;
		height: 200px;
		padding-top: 15px;
		float:left;
		border-radius: 50px;
		}

.Hall	{
		width:285px;
		padding-left: 5px;
		padding-top: 15px;
		height: 200px;	
		float:left;
		border-radius: 50px;
		}

.Sports 	{
		width: 295px;
		padding-left: 5px;
		padding-top: 15px;
		height: 200px;
		float: left;
		border-radius: 50px;
		}

.Adm {
		text-align: Center;
		font-size: 30px;
		margin-left: 50px;
		color: MediumSpringGreen;
		}

.Logo {
		border: solid 3px white;
		width: 300px;
		height: 602px;
		float: right;
		padding-left: 4px;
		margin-right: 6px;
		margin-top: -610px;
		border-radius: 40px;
		}

.Anime {
		width: 293px;
		height: 161px;
		border: solid 2px black;
		border-radius: 50px;
		margin-top: 5px;
		}

.College {
		width: 293px;
		height: 172px;
		border: solid 2px black;
		border-radius: 50px;
		margin-top: 5px;
		}

.Group {
		width: 293px;
		height: 172px;
		border: solid 2px black;
		border-radius: 50px;
		margin-top: 5px;
		}

.Amenities {
		font-size: 30px;
		color: Gold !important;
		}

.Facilities {
		border: solid 3px white;
		border-radius: 140px;
		text-align: center;
		}

.About {
		border: solid 3px white;
		font-size: 20px;
		border-radius: 140px;
		margin-left: 50px;
		margin-right: 50px;
		}
.Us{
		color: NavajoWhite;
		}

.Partner {
		border: solid 3px white;
		margin-top: 10px;
		border-radius: 140px;
	 	margin-left: 50px;	
		margin-right: 50px;
		}

.Ramco {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}

.Zoho {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}

.Tech-mahindra {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}

.Tessolve {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}
	
.TCS {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}

.Wipro {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}

.Infosys {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}

.Hp {
		width: 300px;
		height: 190px;
		border: solid 2px black;
		border-radius: 50px;
		margin: 20px;
		}

.Contact {
		border: solid 3px white;
		font-size: 20px;
		border-radius: 140px;
		padding-left: 35px;
		margin-top: 10px;
		margin-left: 45px;
		margin-right: 45px;
		}

.Num {
		margin-top: -50px;
		}

.Email {
		font-size: 20px;
		padding-left: 1020px;
		margin-top: -50px;
		}
.FL {
		height: 130px;
		width: 130px;
		}

.FC {
		color: MistyRose;
		}	

footer {
    		padding:  0;
    		background-color: #152029; 
    		color: white;
    		text-align: center;
		}

footer h3 {
    		color: Yellow; 
		}	

footer p {
    		margin-bottom: 10px;
		}

.social-icons a {
    		color: Orange;
   		margin: 0 10px;
    		font-size: 24px;
		}

.social-icons a:hover {
    		color: Lawngreen; 
		}

footer .row {
    		display: flex;
    		justify-content: center;
		}

footer ul {
    		padding: 0;
    		list-style: none;
		}

footer ul li {
   	 	display: inline;
    		margin: 0 10px;
		}

footer .list-inline-item a {
    		color: Orange; 
    		text-decoration: none; 
		}

footer .list-inline-item a:hover {
    		color: Lawngreen; 
		}

.Size {
		font-size: 20px;
		font-family: Roboto;
		color:cyan;
		}